<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Main page
    </title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>Hello World!</h1>
            <ul class="list">
                <li class="list__item">
                    <i class="far fa-address-book"></i>
                </li>
                <li class="list__item">item_2</li>
                <li class="list__item">item_3</li>
                <li class="list__item">item_4</li>
                <li class="list__item">item_5</li>
            </ul>
        </div>
        <a class="image-popup-vertical-fit" href="<%= require('Static/img/img.jpg') %>" title="Caption. Can be aligned to any side and contain any HTML.">
            <img src="<%= require('Static/img/img.jpg') %>" alt="cat" width="75" height="75">
        </a>
    </div>
</body>

</html>